# IDE / tool files
.dart_tool/
.metadata
.idea/
*.iml

# Lock files
pubspec.lock
example/pubspec.lock

# Node/JS files
package.json
package-lock.json
tsconfig.json
expo-env.d.ts
app.json

# Platform-specific (not needed for pub)
android/
ios/
windows/
linux/
macos/
web/
