# Ignore build & tool files
.dart_tool/
.idea/
.metadata

# Ignore platform folders
ios/
android/

# Ignore Node/JS files
package.json
package-lock.json
tsconfig.json
expo-env.d.ts
app.json

# Ignore IDE files
*.iml

# Ignore lock file in root
pubspec.lock
